@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/globals" as *;

.video-container {
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.video {
  width: 100%;
  object-fit: cover;
  @include tablet {
    aspect-ratio: 16 / 9;
    background-color: $BrainFlix-Black;
  }
}
