@use "./typography";
@use "./variables" as *;

* {
  box-sizing: border-box;
}

body {
  font-family: "Avenir";
  font-weight: 400;
  margin: 0;
}

section {
  padding: 1rem;
  margin: 1rem 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}
