@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/globals" as *;

.NextVideos {
  display: flex;
  flex-direction: column;
  margin: 0 1.25rem;
  align-items: flex-start;
  justify-content: flex-start;

  &__title {
    font-weight: 400;
    color: $Silver;
    border-top: 0.0625rem solid $Silver;
    width: 100%;
    padding: 1.5rem 0 1.5rem 0.9rem;
    @include desktop {
      border-top: none;
    }
  }

  &__content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
  }
  &__img {
    width: 10rem;
    height: 6rem;
    padding: 0 1rem 1rem 1rem;
    flex-shrink: 0;
    border-radius: 1.2rem;
    cursor: pointer;
    @include desktop {
      padding: 0 1rem 0.7rem 1rem;
    }
  }
  &__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 5rem;
    color: $BrainFlix-Black;
    @include desktop {
      justify-content: space-between;
    }
  }
}
