@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;


.header {
  width: 100%;
  display: flex;
  @include flex(column, center, center);
  &-nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    &__search {
      width: 100%;
      height: 2.75rem;
      border-radius: 0.25rem;
      border: 0.0625rem solid $Mercury;
    }
  }
}
