@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/globals" as *;

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  @include desktop {
    margin: 0 auto;
    flex-direction: row;
    max-width: 1280px;
    // gap: 1rem;
  }

  &__details {
    @include desktop {
      width: 70%;
    }
  }
  &__videos {
    @include desktop {
      border-left: 0.0625rem solid $Mercury;
      width: 30%;
      background-color: $White;
    }
  }
}
